<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="Test.It" version="2.1.1" targetFramework="net461" />
  <package id="Test.It.With.XUnit" version="2.2.3" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
</packages>